extends layout
block content
    .uk-section.uk-section-muted
        .uk-container
            h3 #{data.name}
            - url = data.canonicalUrl;
            a(target='blank' href=url) Lihat di Foursquare
            .uk-grid-match(class='uk-child-width-1-3@m', uk-grid='')
                div
                    table.uk-table.uk-table-hover
                        thead
                            tr
                                th Info
                                th Keterangan
                        tbody
                            tr
                                td Rating
                                td
                                    span.uk-badge #{data.rating}
                            tr
                                td Alamat
                                td #{data.location.formattedAddress}
                            tr
                                td Kontak
                                td #{data.contact.formattedPhone}

                div
                    table.uk-table.uk-table-hover
                        thead
                            tr
                                th Tempat sarapan kategori
                        tbody
                            each cat in data.categories.length ? data.categories : ['Tidak ada Kategori']
                                tr
                                    td #{cat.name}
                div
                    - imgUrl = data.bestPhoto.prefix + '360' +data.bestPhoto.suffix;
                    img(src=imgUrl)
