extends layout
block content
    .uk-section.uk-section-muted
        .uk-container
            h3 #{data.name}
            - url = data.canonicalUrl;
            a(target='blank' href=url) Lihat di Foursquare
            .uk-grid-match(class='uk-child-width-1-3@m', uk-grid='')
                div
                    p #{data.location.formattedAddress}
                div
                    each cat in data.categories.length ? data.categories : ['Tidak ada Kategori']
                        p #{cat.name}
                div
                    - imgUrl = data.bestPhoto.prefix + '/360' +data.bestPhoto.suffix;
                    img(src=imgUrl)
